.new-books .item img.book-image {
    max-height: 250px !important;
}

.new-books a.more-link {
    color: #f0ad4e;
    text-decoration: none;
    font-weight: bold;
}

.new-books a.more-link:hover {
    text-decoration: underline;
}

img.book-mini {
    max-width: 50px;
}

.profile .profile-pic {
    max-width: 200px;
}

.table-borderless tbody tr td,
.table-borderless tbody tr th,
.table-borderless thead tr th,
.table-borderless thead tr td,
.table-borderless tfoot tr th,
.table-borderless tfoot tr td {
    border: none !important;
}
