@layouts.main("Book details") {
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1>Финансовый менеджмент - это просто</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-6">
                        <img src="/assets/images/book-images/1.jpg" />
                    </div>
                    <div class="col-sm-6">
                        <table class="table">
                            <tr><td colspan="2">
                                <a class="btn btn-warning">Бронировать</a>
                            </td></tr>
                            <tr><td><strong>Автор</strong></td><td>Алексей Герасименко</td></tr>
                            <tr><td><strong>Формат издания</strong></td><td>170х215 мм (средний формат)</td></tr>
                            <tr><td><strong>Количество страниц</strong></td><td>482</td></tr>
                            <tr><td><strong>Год выпуска</strong></td><td>2016</td></tr>
                            <tr><td><strong>ISBN</strong></td><td>978-5-9614-5584-7, 978-5-9614-5132-0</td></tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4>Книги того же автора</h4>
                    </div>
                    <div class="panel-body text-center">
                        <div class="row">
                            <div class="col-xs-4">
                                <img class="book-mini" src="/assets/images/book-images/1.jpg" />
                                <h5>Финансовый менеджмент - это просто</h5>
                            </div>
                            <div class="col-xs-4">
                                <img class="book-mini" src="/assets/images/book-images/1.jpg" />
                                <h5>Финансовый менеджмент - это просто</h5>
                            </div>
                            <div class="col-xs-4">
                                <img class="book-mini" src="/assets/images/book-images/1.jpg" />
                                <h5>Финансовый менеджмент - это просто</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-warning">
                    <div class="panel-heading">Отзывы</div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <strong>Имя Фамилия</strong> <small>21 января 2017, 12:01</small>
                                <div>
                                    В то время как Лейбниц употреблял термин перцепция, как простое, ещё не дошедшее до сознания впечатление, которое известное явление производит на органы наших чувств (хотя в современной психологии перцепция, то же что и восприятие).
                                </div>
                                <hr/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <strong>Имя Фамилия</strong> <small>21 января 2017, 12:01</small>
                                <div>
                                    В то время как Лейбниц употреблял термин перцепция, как простое, ещё не дошедшее до сознания впечатление, которое известное явление производит на органы наших чувств (хотя в современной психологии перцепция, то же что и восприятие).
                                </div>
                                <hr/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <strong>Имя Фамилия</strong> <small>21 января 2017, 12:01</small>
                                <div>
                                    В то время как Лейбниц употреблял термин перцепция, как простое, ещё не дошедшее до сознания впечатление, которое известное явление производит на органы наших чувств (хотя в современной психологии перцепция, то же что и восприятие).
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="panel-footer">
                        <form>
                            <div class="form-group">
                                <label for="review">Оставьте отзыв</label>
                                <textarea id="review" name="review" class="form-control"></textarea>
                            </div>
                            <a class="btn btn-sm btn-info">Отправить</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
