<div class="panel panel-success item">
    <div class="panel-heading">
        <small><span class="fa fa-dot-circle-o" title="Есть в наличие"></span></small> Финансовый менеджмент - это просто
    </div>
    <div class="panel-body text-center">
        <img class="book-image" style="max-height: 100px; margin-right: 3px;" src="/assets/images/book-images/1.jpg" />
    </div>
    <div class="panel-footer text-center">
        <div class="btn-group">
            <button class="btn btn-sm btn-info">Смотреть</button>
            <button class="btn btn-sm btn-warning">Резервировать</button>
        </div>
        <button class="btn btn-sm btn-default" title="Быстрый просмотр">
            <span class="fa fa-eye"></span>
        </button>
    </div>
</div>
