<div class="panel panel-success item">
    <div class="panel-heading">
        <small><span class="fa fa-dot-circle-o" title="Есть в наличие"></span></small>
        Финансовый менеджмент - это просто
    </div>
    <div class="panel-body">
        <div class="text-center">
            <img class="book-image" style="max-height: 100px; margin-right: 3px;" src="/assets/images/book-images/1.jpg" />
        </div>
    </div>
    <div class="panel-footer text-center">
        <div class="btn-group">
            <a class="btn btn-sm btn-info" href="/book/details/1">Смотреть</a>
            <a class="btn btn-sm btn-warning" href="/book/details/1">Резервировать</a>
        </div>
    </div>
</div>
