@layouts.main("Profile - Alice Cooper") {

    <div class="row profile">
        <div class="col-sm-12">

            <div class="row">
                <div class="col-sm-5">

                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <h4>Alice Cooper - profile</h4>
                        </div>
                        <div class="panel-body">

                            <div class="row">
                                <div class="col-sm-4">
                                    <img class="profile-pic" src="/assets/images/common/profile-pic.jpg" />
                                </div>
                                <div class="col-sm-8">
                                    <table class="table table-borderless">
                                        <tr>
                                            <td><strong>Field 1</strong></td>
                                            <td> value</td>
                                        </tr>
                                        <tr>
                                            <td><strong>Field 2</strong></td>
                                            <td> value</td>
                                        </tr>
                                        <tr>
                                            <td><strong>Field 3</strong></td>
                                            <td> value</td>
                                        </tr>
                                        <tr>
                                            <td><strong>Field 4</strong></td>
                                            <td> value</td>
                                        </tr>
                                        <tr>
                                            <td><strong>Field 5</strong></td>
                                            <td> value</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>

                        </div>
                        <div class="panel-footer">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="btn-group pull-right">
                                        <a href="#" class="btn btn-sm btn-warning"><i class="fa fa-gears"></i> Настроить</a>
                                        <a href="#" class="btn btn-sm btn-success"><i class="fa fa-building"></i> Статистика</a>
                                        <a href="#" class="btn btn-sm btn-danger"><i class="fa fa-paw"></i>  Выход</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>

}
