@(title: String)

<title>@title</title>
<link rel="stylesheet" media="screen" href="/assets/stylesheets/main.css">
<link rel="shortcut icon" type="image/png" href="/assets/images/favicon.png">

<link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("lib/bootstrap/dist/css/bootstrap.min.css")" />
<link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("lib/font-awesome/css/font-awesome.min.css")" />
<script src="@routes.Assets.versioned("lib/jquery/dist/jquery.min.js")"></script>
<script src="@routes.Assets.versioned("lib/bootstrap/dist/js/bootstrap.min.js")"></script>
